.main-headers{
  height: 30px;
  background-color: #3C73E9;
  color: #fff !important;
}
.main-headers .title{
  margin-top: -8px !important;
  float:left;
  font-weight: bold;
}
.main-headers .options{
  padding-top: 0px;
  float:right;
  margin-top: -9px !important;
}
.main-headers .options > .btn{
  padding: 0px 5px 0px 5px !important;
}
.theme-nav{
  font-size: 14px !important;
  font-weight: bold !important;
  height: 30px !important;
  color: #fff !important;
}
.th-fs{
	font-size: 14px !important;
}
.theme-nav .nav-link{
  color: #fff !important;
}
.theme-card-title{
  font-size: 14px !important;
  font-weight: bold !important;
}
.width-1{
 width: 5%;
}
.width-2{
  width: 10%;
}
.width-3{
  width: 15%;
}
.width-4{
  width: 20%;
}
.width-5{
  width: 25%;
}
.select2-selection{
  border: 1px solid #ced4da!important;
  /* height: calc(2.25rem + 2px); */
  min-height: calc(2.25rem + 2px) !important;
  max-height:100% !important;
}
.select2-selection__choice{
  color: #555 !important;
}

@media only screen and (max-width: 768px) {
  .main-headers{
    height: auto !important;
    background-color: #3C73E9;
    color: #fff !important;
  }
  .main-headers .title{
    margin-top: auto !important;
    float:left;
    font-weight: bold;
  }
  .main-headers .options{
    padding-top: auto !important;
    float:right;
    margin-top: auto !important;
  }
  .main-headers .option, .btn{
    padding: 0px 5px 0px 5px !important;
  }
}
.modal-title{
      font-size: 1.75rem !important;
}
.page-content{
  padding: 1rem !important;
}
